* {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0 auto;
  background-color: #ffffff;
}

.container-general {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.head-products-marketing {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin-left: 135px;*/
  height: 100px;
  border-bottom: 1px solid #F4F4F4

}
.head h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #060709;
}

.head h2 { 
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #9D9EA2;
}

 .products {
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid #F4F4F4;
  height: 100px;
}

.products img {
  margin-right: 20px;
}

.products span.descrition-product  {
  font-weight: 400px;
  font-size: 14px;
  line-height: 21px;
  color:#9D9EA2;
  text-align: left;
}

.products p.amount {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #060709;
}

.products .value {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #060709;
}

.marketing {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 16px;
 
}

.marketing .carts {
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 16px;
  padding: 16px;
  border: 1px solid #F4F4F4;
  border-radius: 12px;
}

.marketing .carts .header-carts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #17AF26;
}

.marketing .carts img {
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.marketing .cart strong.text1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1A1E26;
}

.marketing .cart p.text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #717378;
}





.container-total {
  width: 35%;
  display: flex;
  flex-direction: column;
  border: 1px solid #F4F4F4;
  border-radius: 12px;
  margin-top: 28px;
  padding: 28px 14px;
}

.container-total .total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.container-total .total .total-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9D9EA2;
}

.container-total .total .total-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #060709;
}

.container-total .button-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  gap: 12px;
}

.container-total .button-total #btntotal1 {
  box-sizing: border-box;
  width: 223px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #C8C9CB;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  border-radius: 8px;
}

.container-total .button-total #btntotal2 {
  width: 137px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #17AF26;
  background: #F3FBF4;
  border: 1px solid #F4F4F4;
  border-radius: 100px;
}




.container-total .checkout {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  border-top: 1px solid #F4F4F4;
 
}

.container-total .checkout span.checkout-text1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #717378;
  margin: 16px 0 6px 0;
}

.container-total .checkout span.checkout-text2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #1A1E26;
  margin-bottom: 20px;
}

.container-total .checkout .button-checkout {
  display: flex;
  align-items: center;
  justify-content:center;
  
}

.container-total .button-checkout #btncheckout {
  width: 372px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  background: #C8C9CB;
  border: 1px solid #F4F4F4;
  border-radius: 100px;
}

.container-total .carts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid #F4F4F4;
}

.container-total .carts span {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #717378;
}

.container-total .carts .image {
  display: flex;
  gap: 12px;
}

.container-total .carts img {
  width: 56px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  border-radius: 6px;

  
  

}